body {
    margin: 0px;
    background-color: #e3e3e3;
}

header {
    background-color: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    line-height: 15px;
    box-shadow: 0px 4px 10px gray;
    z-index: 1;
}

#Intelectivos-Header {
    text-decoration: none;
    color: white;
    padding: 16px;
    padding-left: 2px;
    font-family: sans-serif;
    font-size: 25px;
    display: inline-flex;
}

.Logo {
    padding-left: 20px;
}

header nav {
    float: right;
    display: flex;
    padding-right: 20px;
}

header nav a:hover {
    border-radius: 50px;
    background-color: #ee3b24;
    color: white;
    -webkit-transition:all 1000ms ease;
    -o-transition:all 1000ms ease;
    transition: all 1000ms ease;
}

#Div-Btn-Header {
    float: right;
    display: flex;
}

#Btn-Header {
    text-decoration: none;
    color: white;
    padding: 17px;
    font-family: sans-serif;
    white-space: nowrap;
}

/* Iniciar Sesion */

h1 {
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 20%;
    white-space: nowrap;
}

#Iniciar-Sesion {
    position: absolute;
    top: 20%;
    left: 17%;
    background-color: #ee3b24;
    border-radius: 10px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 5px 10px 10px gray;
}

.Texto {
    display: flex;
    margin-bottom: 30px;
    border-radius: 3px;
    border: none;
    font-family: sans-serif;
    font-size: 30px;
}

.Imagen {
    margin-left: 40%;
}

#Submit-Inicio-Sesion {
    left: 35%;
    position: absolute;
    bottom: 2%;
    border-radius: 3px;
    border: none;
    background-color: white;
    padding: 10px;
}

#Submit-Inicio-Sesion:hover {
    background-color: #e9e9e9;
    border: inherit;
}

/*Cerrar Sesión*/

#Crear-Cuenta {
    position: absolute;
    top: 20%;
    right: 17%;
    background-color: #ee3b24;
    border-radius: 10px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 5px 10px 10px gray;
}