body {
    margin: 0px;
    background-color: #e3e3e3;
}

header {
    background-color: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    line-height: 15px;
    box-shadow: 0px 4px 10px gray;
    z-index: 1;
}

#Intelectivos-Header {
    text-decoration: none;
    color: white;
    padding: 16px;
    padding-left: 2px;
    font-family: sans-serif;
    font-size: 25px;
    display: inline-flex;
}

.Logo {
    padding-left: 20px;
}

header nav {
    float: right;
    display: flex;
    padding-right: 20px;
}

header nav a:hover {
    border-radius: 50px;
    background-color: #ee3b24;
    color: white;
    -webkit-transition:all 1000ms ease;
    -o-transition:all 1000ms ease;
    transition: all 1000ms ease;
}

#Div-Btn-Header {
    float: right;
    display: flex;
}

#Btn-Header {
    text-decoration: none;
    color: white;
    padding: 17px;
    font-family: sans-serif;
    white-space: nowrap;
}

/* Iniciar Sesion */

#Iniciar-Sesion {
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: #ee3b24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.Texto {
    display: flex;
    margin-bottom: 20px;
}